<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Movies
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("All movies", "method", "controller")</li>
        <li>@Html.ActionLink("Genres", "method", "controller")</li>
    </ul>
</li>
